<div class="central">
  <%= render "welcome/titles" %>
</div>

  <% if current_user %>
    <%= render "dashboard/dashboard", forum_post: @forum_post %>
  <% else %>
    <%= render "welcome/join" %>
  <% end %>
</div>
