<h1>Welcome to DIPpy</h1>
<h3>Diversity, inclusion and privilege</h3>
<p>DIPpy is a safe space for anonymous, moderated conversations about diversity, inclusion, and privilege</p>
<p>Check out our privilege calculator!</p>
