/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'colors';
@import 'typography';
@import 'main';

@import 'forms';
@import 'charts';
@import 'tables';
@import 'blogs';
@import 'posts';
@import 'privilege';

// Override thredded branding colours
// Text colour for titles ...
$thredded-brand: $darkblue;
// ... and contents
$thredded-text-color: $darkblue;
// Text colour on hover
$thredded-action-color: $midblue;
// Hover colour for messageboard titles
$thredded-action-hover-color: $midblue;
// Background colour for unread counts
$thredded-badge-inactive-background: $midblue;
// Text colour for (updated-by) time
$thredded-secondary-text-color: $midblue;
// Border colour
$thredded-base-border-color: $paleblue;

@import 'thredded';
