@import 'colors';

.new_blog, .edit_blog {
  .input {
    margin: 4px 0;
  }

  label {
    display: inline-block;
    width: 140px;
  }

  input.string {
    display: inline-block;
    width: 436px;
  }

  input.boolean {
    width: unset;
  }
}

.ck-content {
  height: 400px;
}

.blogs {
  .image-holder {
    width: 100%;
    height: 160px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.blog-holder {
  width: 320px;
  height: 400px;
  display: inline-block;
  vertical-align: top;
  margin: 20px 6px;
  border: 1px solid $paleblue;

  h3 {
    padding-left: 16px;
  }
}

.blog-title {
  border-bottom: 1px solid $paleblue;
}

.blog-details {
  margin: 16px;
}

.blog-date {
  margin-bottom: 16px;
}

.blog-summary {
  font-color: $midblue;
  font-size: 16px;
}

.blog {
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
  border: 1px solid $paleblue;

  h1, h3, .image-holder {
    text-align: center;
  }

  img {
    max-width: 100%;
    max-height: 260px;
  }
}
