$darkgrey: #4C4C4C;
$lightgrey: #EEEEEE;
$blue: blue;
$lightblue: #4A90E2;
$purple: purple;
$gold: gold;
$green: green;

$fade-black: rgba(0, 0, 0, 0.87);
$light-text: rgba(0, 0, 0, 0.75);

$r-red: rgba(255, 0, 0, 0.5);
$r-orange: rgba(255, 165, 0, 0.5);
$r-yellow: rgba(255, 255, 0, 0.5);
$r-green: rgba(0, 128, 0, 0.5);
$r-blue: rgba(0, 255, 255, 0.5);
$r-indigo: rgba(0, 0, 255, 0.5);
$r-violet: rgba(238, 130, 238, 0.5);

.rainbow {
  background: white; /* For browsers that do not support gradients */
  background: linear-gradient(to right, left, $r-red, $r-orange , $r-yellow, $r-green, $r-blue, $r-indigo, $r-violet);
  background: -webkit-linear-gradient(left, $r-red, $r-orange , $r-yellow, $r-green, $r-blue, $r-indigo, $r-violet);
}
