select {
  padding: 4px;
  border-radius: 4px;
  border-width: 1px;
  margin-top: 4px;
}

select {
  min-width: 180px;
}

.btn {
  display: block;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border: 1px solid $darkblue;
  border-radius: 4px;
  background-color: $darkblue;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

.secondary {
  color: $darkblue;
  background-color: white;
}

.privilege {
  option {
    max-height: 12px;
    padding: 0;
  }

  .btn {
    margin-top: 16px;
  }
}

.required abbr {
  text-decoration: none;
}
