select, input {
  padding: 4px;
  border-radius: 4px;
  border-width: 1px;
  margin-top: 4px;
}

select, .input {
  min-width: 180px;
}

input {
  margin-top: 4px;
}

input.boolean {
  width: 100%;
}

.btn {
  padding: 4px 10px;
  min-width: unset;
  cursor: pointer;
}

a.btn {
  padding: 2px 10px;
  border: 1px solid grey;
  border-radius: 4px;
}

.privilege {
  option {
    max-height: 12px;
    padding: 0;
  }

  .btn {
    margin-top: 16px;
  }
}

.required abbr {
  text-decoration: none;
}
