body {
  margin: 0;
  background-color: white;
}

.main {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 120px; // Allow for footer
  padding-bottom: 50px;
}

.flash {
  width: 90%;
  margin: 0 auto;

  .notice, .alert {
    padding: 4px;
  }
}

.header {
  margin-top: 30px;
  width: 100%;
  //position: fixed;
  top: 0;

  .logo {
    margin-left: 60px;
    padding-left: 20px;
    display: inline-block;
  }

  .top-holder .link-holder {
    margin-top: 15px;
  }

  .link {
    width: 98px;
    height: 40px;
    line-height: 40px;
    display: block;
  }
}

.link-holder {
  height: 40px;
  width: 98px;
  display: inline-block;
  text-align: center;
  float: left;
}


.menu-holder {
  height: 40px;
  width: 100%;
  margin: 0 auto;

  a {
    height: 40px;
    width: 100%;
  }
}

.right {
  float: right;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.menu, .wide {
  width: 590px;
  margin: 0 auto;
}

.section {
  margin-top: 50px;
}

.subsection {
  margin-top: 20px;
}

.minisection {
  margin-top: 10px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $darkblue;
  padding: 50px 30px 30px 30px;

  .link {
    color: $offwhite;
    font-size: 24px;

    &:hover {
      background-color: white;
      color: $darkblue;
    }
  }

  .right {
    float: right;
  }

  .menu-holder {
    width: unset;
    margin: 0 60px 0 0;
  }
}

.privilege {
  min-height: 640px;
}

.privilege, .policy {
  width: 100%;
  margin: 0 auto;
}

.left-col {
  width: 100%;
  float: left;

  p {
    padding-right: 4px;
  }
}

.right-col {
  display: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (min-width: 800px) {
  .body {
    width: 80%;
    margin: 0 auto;
  }

  .left-col {
    width: 50%;
  }

  .right-col {
    display: block;
    width: 50%;
    float: right;

    p {
      padding-left: 4px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .privilege {
    width: 80%;
  }
}
