body {
  margin: 0;
}

.main {
  margin: 20px;
}

.header, .footer {
  height: 40px;
  line-height: 40px;
  background-color: grey;
  color: white;
  text-align: center;
}

.privilege {
  max-width: 820px;
  margin: 0 auto;
}
