.privilege {
  h2 {
    margin-bottom: 10px;
  }

  h3 {
    margin-top: 0;
    text-decoration: underline;
  }

  p {
    font-size: 18px;
  }

  option {
    max-height: 12px;
    padding: 0;
  }

  .btn {
    margin-top: 16px;
  }
}

