table {
  border: 1px solid grey;
  border-collapse: collapse;
}

td, th {
  padding: 4px;
  border: 1px solid grey;
  font-size: 21px;
}

.cell {
  display: inline-block;
  width: 105px;
  border-right: 1px solid grey;

  .input {
    display: inline-block;
    min-width: unset;
    width: 76px;
    text-align: center;
    padding: 4px;
  }

  .btn {
    height: 30px;
    line-height: 14px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0;
    padding-bottom: 5px;
  }
}

.cell:last-child {
  border-right: none;
}

.split {
  padding: 0;
}
