/* Fonts downloaded from https://google-webfonts-helper.herokuapp.com/fonts/lato?subsets=latin */

@font-face {
  font-family: 'Lato';
  font-style: light;
  font-weight: 300;
  src: font-url('lato/lato-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato Light'),
       font-url('lato/lato-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('lato/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('lato/lato-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       font-url('lato/lato-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('lato/lato-v16-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: font-url('lato/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       font-url('lato/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('lato/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('lato/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       font-url('lato/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('lato/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: font-url('lato/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       font-url('lato/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('lato/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('lato/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       font-url('lato/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('lato/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  src: url('caveat-brush/caveat-brush-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Caveat Brush'), local('CaveatBrush-Regular'),
       url('caveat-brush/caveat-brush-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('caveat-brush/caveat-brush-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('caveat-brush/caveat-brush-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('caveat-brush/caveat-brush-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('caveat-brush/caveat-brush-v5-latin-regular.svg#CaveatBrush') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-family: 'Lato Bold', sans-serif;
  font-weight: 700;
}

p, td, li, span {
  font-family: 'Lato Light', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.logo {
  font-family: 'Caveat Brush', cursive;
  font-weight: 400;
  font-size: 26px;
}
